*{
    font-family: 'Roboto', sans-serif;
}

.title{
    text-align: center;
    color: black !important;
    padding-bottom: 40px;
}
p{
    font-weight: 550;
    line-height: 20px;
}
.item-link{
    text-decoration: none !important;
    color: black !important;
}
.icon-cart{
font-size: 30px;
position: relative;
margin-right: 20px;
}
.nav-right-link{
    text-decoration: none !important;
    color: black !important
}
.numPro{
    position: absolute;
    font-size: 15px;
    color: white;
    top: -10px;
    border-radius: 45%;
    padding:5px;
    background-color: black;
}
ul{
    list-style:  none;
    padding-left: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
}
.header
{
    background-color: lightgreen;
}

.nav-bar-left{
    display: flex;
    justify-content: space-around;
  
    align-items: center;

}
.item{
    padding: 0 20px;
    font-size: 20px;
}
.nav-bar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.header{
    margin-bottom: 100px;
}
.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.product-item{
    width: 100%;
}
.product-item .img-product{
    width: 100%;
}
.title-card{
    text-align: center;
}
.price-card{
    display: block;
    text-align: center;
}
.show_noti{
    display: none;
    text-align: center;
}
h1 > a {
    text-decoration: none !important;
    color: black !important
}